body {
            font-family: 'Segoe UI', sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap:20px;
            align-items: flex-start;
            
        }
        header {
            display: row;
            flex-direction: row;
            text-align: center;
            width: 100%;
            height: 200px;
            border-radius: 6px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.05);
            border: 1px solid #eaeaea;
            color:#0a0a0a;
            background-image: url('../images/mozaika2.jpg');
           
            
        }
        #top-menu {
            padding: 1px;
            height: 7vh;
            /*background-color: #79b4e8;*/
        }
        select {
            border: 1px solid;
            width: 20vw;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ddd;
            margin-bottom: 3px;
            background-color: #FFFFFF;
            color: #656565;
            /*margin-top: 15px;*/
            cursor: pointer;
        } 
        button {
            border: 1px solid;
            padding: 7px;

            border-radius: 5px;
            border: 1px solid #d5d5d5;
            margin-bottom: 3px;
            /*background-color: #FFFFFF;*/
            /*color: #656565;*/
            margin-top: 15px;
            cursor: pointer;
        }
        button#reset-btn {
            width: 5vw;
        }
        button#user-button {
            min-width: 7vw;
        }
        
        
        /*
        #top-menu {
            width: 100%;
            background-color: #e9c1c1;
            text-align: center;
            padding: 10px;
        }*/
        
        product-list {
            flex: 3;
            
        }
        
        #router-outlet {
        flex: 1;
        min-width: 0;
        }

        shopping-cart {
            /*max-width: 350px;*/
            /* flex: 1; */
            position: relative;
        }

        section {
            padding-top: 10px;
            min-width: 350px;
            position:sticky;
            top: 20px;
        }
/*      
@media (max-width: 800px) {
    body { 
        flex-direction: column-reverse; 
        justify-content: center;
        align-items: center;
    
    header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    background-color: aliceblue;
    }
    }
    shopping-cart { width: 100%; position: static; }
}*/

@media (max-width: 890px) {
body {
    display:column;
    justify-content: center;
    overflow-x:hidden;
    /*to zagranie sprawia że zaczyna się przesuwać w prawo*/
    /*min-width: 658px;*/
}
header {
    height: 23vh;
    background-image: url('../images/mozaika2.jpg');
}
#top-menu {
    height: 5vh;
    justify-content: space-evenly;
    /*background-color: rgb(255, 254, 254);*/
}

section {
    order: 1;
    width: 100%;
    position: sticky;
    top: 20px;
    z-index: 1;
}
shopping-cart {
    display:block;
    width: 93%;
    margin: 0 auto;
    z-index: 2;
}
counting-box {
    display: none; 
}

#router-outlet {
    order: 2;
}
select {
    margin-top: 5px;
}
button {
    margin: 0.7vh 0.5vw;
    padding: 7px;
    min-width: 7vw;
}
button#user-button {
    width: 94%;
}

}