body {
            font-family: 'Segoe UI', sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap:20px;
            align-items: flex-start;
            
        }
        header {
            display: row;
            flex-direction: row;
            text-align: center;
            width: 100%;
           
            
        }
        #top-menu {
            padding: 1px;
            height: 7vh;
            /*background-color: #79b4e8;*/
        }
        select {
            border: 1px solid;
            width: 385px;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ddd;
            margin-bottom: 3px;
            background-color: #FFFFFF;
            color: #656565;
            margin-top: 15px;
        }
        /*
        #top-menu {
            width: 100%;
            background-color: #e9c1c1;
            text-align: center;
            padding: 10px;
        }*/
        
        product-list {
            flex: 3;
            
        }
        
        #router-outlet {
        flex: 1;
        min-width: 0;
    }

        shopping-cart {
            max-width: 350px;
            /* flex: 1; */
            position: sticky;
            top: 20px;
        }

        @media (max-width: 800px) {
            body { 
                flex-direction: column-reverse; 
                justify-content: center;
                align-items: center;
            }
            header {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
            background-color: aliceblue;
        }
            shopping-cart { width: 100%; position: static; }
        }